<!doctype html>
<html lang="{{ site.lang | default: 'de-CH' }}" data-google-analytics-id="{{ site.google_analytics_id }}">
  {% include head.html %}
  <body>
    <a class="skip-link" href="#main">Zum Inhalt springen</a>
    {% include site-header.html %}
    <main id="main">
      {{ content }}
    </main>
    {% include site-footer.html %}
    <div class="lightbox" data-lightbox hidden role="dialog" aria-modal="true" aria-label="Projektbilder">
      <button class="lightbox__close" type="button" data-lightbox-close aria-label="Galerie schliessen">{% include icon.html name="x" size=22 %}</button>
      <button class="lightbox__nav lightbox__nav--prev" type="button" data-lightbox-prev aria-label="Vorheriges Bild" hidden>{% include icon.html name="arrow-left" size=24 %}</button>
      <button class="lightbox__nav lightbox__nav--next" type="button" data-lightbox-next aria-label="Nächstes Bild" hidden>{% include icon.html name="arrow-right" size=24 %}</button>
      <figure>
        <img alt="" data-lightbox-image>
        <figcaption data-lightbox-caption></figcaption>
      </figure>
    </div>
    <script src="{{ '/assets/js/site.js' | relative_url }}" defer></script>
  </body>
</html>
